<%= form_for @tweets , url: {action: actionname } do |f| %>
    <%= f.label :message, 'メッセージ' %>
    <%= f.text_field :message %>
    <p><%= f.label :file, 'ファイル' %>
    <%= f.file_field :file%></p>
    <%= f.submit '決定' %>
<% end %>