<% @tweets.each do |tweet| %>
    <%= tweet.message %>
    <% if Time.current - tweet.tdate < 60 %>
        <%= (Time.current - tweet.tdate) %>秒前
    <% elsif Time.current - tweet.tdate < 3600 %>
        <%= (Time.current - tweet.tdate)/60 %>分前
    <% else %>
        <%= (Time.current - tweet.tdate)/3600 %>分前
    <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
    <%= link_to '表示', "/tweets/#{tweet.id}" %>
    <%= link_to '編集', "/tweets/edit/#{tweet.id}" %>
<% end %>
<p><%= link_to '新規追加', '/tweets/new' %></p>