<% if flash[:notice] %>
  <%= flash[:notice] %><br>
<% end %>
<% if flash[:error].present? %>
<h3>エラーがあります。</h3>
<ul>
    <% flash[:error].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
<%= form_for @new_tweets , url: {action: :create } do |f| %>
    <%= f.label :message, 'メッセージ' %>
    <%= f.text_field :message %>
    <p><%= f.label :file, 'ファイル' %>
    <%= f.file_field :file%></p>
    <%= f.submit '決定' %>
<% end %>
<% @tweets.each do |tweet| %>
    <%= tweet.message %><br>
    <% if tweet.file != nil %>
      <%= image_tag "/get_image/#{tweet.id}" %>
    <% end %>
    <%= ((Time.current - tweet.tdate)/60).floor %>分前
    <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
    <%= link_to '表示', "/tweets/#{tweet.id}" %>
    <%= link_to '編集', "/tweets/#{tweet.id}/edit" %><br>
<% end %>