<% if flash[:error].present? %>
<h3>エラーがあります。</h3>
<ul>
    <% flash[:error].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
<%= form_for @users , url: {action: :create } do |f| %>
    <%= f.label :uid, 'ユーザー名' %>
    <%= f.text_field :uid %>
    <p><%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %></p>
    <p>
    <%= f.label :password_confirmation, 'パスワード(確認)' %>
    <%= f.password_field :password_confirmation %>
    </p>
    <%= f.submit '決定' %>
<% end %>